/* flex*/

.container {
  box-sizing: border-box;
  border: 10px solid rgb(230, 104, 165);
  background-color: rgb(245, 188, 200);
  height: 300px;
  display: flex;
  /*flex-direction: row;*/
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:right
  align-items: center;
}
.item {
  box-sizing: content-box;
  border: 2px solid rgb(117, 204, 238);
  background-color: rgb(187, 214, 236);
  width: 200px;
  height: 100px;
}
