/*MOBILE*/
:root {
  --fontsize-tittle: 36px;
  --color-firered: #cc212a;
  --size-icon: 52px;
}
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-firered);
}
.header {
  /*border: solid var(--color-firered);*/
  height: 90vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tittle {
  /*border: solid violet;*/
  font-size: var(--fontsize-tittle);
  font-weight: 800;
}

.footer {
  border-top: solid var(--color-firered);
  position: fixed;
  bottom: 0px;
  width: 100vw;
}
.icon {
  width: var(--size-icon);
  height: var(--size-icon);
  border-radius: 50%;
  line-height: var(--size-icon);
  background-color: var(--color-firered);
  color: white;
  font-weight: bold;
  margin: auto;
  position: relative;
  top: -24px;
}
.copy {
  color: grey;
  font-weight: lighter;
  font-size: 15px;
  padding: 30px;
}

/*TABLET*/

@media all and (min-width: 768px) {
  .footer {
    /* border: solid blue;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .icon {
    position: absolute;
    left: 90%;
    top: 15px;
  }
}
