.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
}
.logo {
  height: 35px;
}
.header .menu {
  height: 20px;
}

.trial {
  margin-top: 35px;
  padding-top: 100px;
  background-color: cornflowerblue;
  height: 50vh;
}
.footer {
  background-color: black;
}
