/*MOBILE*/

body {
  height: 100vh;
  font-family: "Montserrat";
}
.container {
  margin-top: 40%;
  height: 50%;
  /*border: solid coral;*/
  background-color: white;
}
.claim {
  /*border: solid violet;*/
  width: 55%;
  margin: auto;
  color: #cc212a;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.footer {
  /* border: solid blue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.line {
  position: absolute;
  top: 12.5px;
  width: 80%;
  height: 2px;
  background-color: #cc212a;
}

.circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #cc212a;
}

#text {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 9px;
  text-transform: uppercase;
  padding-top: 9px;
}
.cookies {
  font-size: 10px;
  color: grey;
  line-height: 25px;
  font-weight: lighter;
  text-transform: uppercase;
}
/*TABLET*/

@media all and (min-width: 768px) {
}
.claim {
  font-size: 40px;
}
.footer {
  /* border: solid blue;*/
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10%;
}
.line {
  top: 0px;
  left: 10%;
  height: 2px;
  background-color: #cc212a;
}
.circle {
  left: 82%;
  width: 45px;
  height: 45px;
  border-radius: 60%;
  background: #cc212a;
}

#text {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 12px;
}
.cookies {
  font-size: 15px;
  color: grey;
  line-height: 25px;
  font-weight: lighter;
  padding: 40px;
}
