/*mobile*/

body {
  background-color: silver;
}
.todo {
  display: flex;
  flex-direction: column;
}
.links {
  background-color: green;
  display: flex;
  flex-direction: column;
}
.amarillo {
  background-color: yellow;
}
footer {
  background-color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*tablet*/
@media all and (min-width: 1000px) and (min-width: 480px) {
  .todo {
    display: flex;
  }
  .links {
    position: absolute;
    padding-right: 150px;
  }
  .amarillo {
    position: relative;
    margin-left: 200px;
    display: flex;
  }
  .naranja {
    background-color: orange;
    height: 220px;
    width: 450px;
    flex-direction: column;
  }
  footer {
    position: relative;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
  }
}

/*desktop*/
@media all and (min-width: 1000px) {
  .todo {
    display: flex;
    flex-direction: column;
  }
  .links {
    position: absolute;
    width: 20%;
    margin-right: 10px;
  }
  .amarillo {
    position: relative;
    margin-left: 250px;
    width: 50%;
    display: flex;
  }
  .naranja {
    background-color: orange;
    height: 220px;
    width: 450px;
    flex-direction: column;
  }
  footer {
    display: flex;
    position: absolute;
    right: 1px;
    width: 25%;
  }
}
